**/__pycache__/ 
*.py[cod]
temp/current.pth


#--------------------------------------------------------------------------------------------------
#--------------------------------------------------------------------------------------------------
# 忽略整個 results 目錄
results/** 

# 解除忽略（每一層都要解鎖）
!results/Aquaponics Record 歷程訓練記錄/

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/
!results/Aquaponics Record 歷程訓練記錄/Transfer Learning（環境因素+Fish Length）/
!results/Aquaponics Record 歷程訓練記錄/Transfer Learning（環境因素+Fish Length）/Ensemble Learning 集成學習/
!results/Aquaponics Record 歷程訓練記錄/Transfer Learning（環境因素+Fish Length）/Ensemble Learning 集成學習/**

!results/Aquaponics Record 歷程訓練記錄/without-transfer-learning/

#--------------------------------------------------------------------------------------------------
# ✅ IoTPond2（例外保留）
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond2/
!results/Aquaponics Record 歷程訓練記錄/Transfer Learning（環境因素+Fish Length）/IoTPond2 → IoTPond1/

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond2/★ 2025-05-07-1（設定Learning Rate為1e-4，為目前最佳）★/
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond2/★ 2025-05-07-1（設定Learning Rate為1e-4，為目前最佳）★/**

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond2/★ aquaponics_IoTPond2-1 ★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond2/★ aquaponics_IoTPond2-1 ★/**

!results/Aquaponics Record 歷程訓練記錄/Transfer Learning（環境因素+Fish Length）/IoTPond2 → IoTPond1/★ 2025-06-04-2 ★
!results/Aquaponics Record 歷程訓練記錄/Transfer Learning（環境因素+Fish Length）/IoTPond2 → IoTPond1/★ 2025-06-04-2 ★/**
#--------------------------------------------------------------------------------------------------
# ✅ IoTPond3（例外保留）
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond3/
!results/Aquaponics Record 歷程訓練記錄/Transfer Learning（環境因素+Fish Length）/IoTPond3 → IoTPond1/

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond3/★★ 2025-05-10-3 ★★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond3/★★ 2025-05-10-3 ★★/**

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond3/★★ aquaponics IoTPond3-4 ★★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond3/★★ aquaponics IoTPond3-4 ★★/**

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond3/★★★ 2025-05-10-12 ★★★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond3/★★★ 2025-05-10-12 ★★★/**

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond3/★★★ aquaponics IoTPond3-3 ★★★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond3/★★★ aquaponics IoTPond3-3 ★★★/**

!results/Aquaponics Record 歷程訓練記錄/Transfer Learning（環境因素+Fish Length）/IoTPond3 → IoTPond1/★ Preferred Best ★
!results/Aquaponics Record 歷程訓練記錄/Transfer Learning（環境因素+Fish Length）/IoTPond3 → IoTPond1/★ Preferred Best ★/**
#--------------------------------------------------------------------------------------------------
# ✅ IoTPond4（例外保留）
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/
!results/Aquaponics Record 歷程訓練記錄/Transfer Learning（環境因素+Fish Length）/IoTPond4 → IoTPond1/

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★ 2025-05-11-1 ★★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★ 2025-05-11-1 ★★/**

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★ 2025-05-11-4 ★★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★ 2025-05-11-4 ★★/**

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★ 2025-05-14-3 ★★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★ 2025-05-14-3 ★★/**

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★ aquaponics IoTPond4-1 ★★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★ aquaponics IoTPond4-1 ★★/**

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★ aquaponics IoTPond4-2 ★★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★ aquaponics IoTPond4-2 ★★/**

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★ aquaponics IoTPond4-5 ★★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★ aquaponics IoTPond4-5 ★★/**

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★ 2025-05-14-2 ★★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★ 2025-05-14-2 ★★/**

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★ aquaponics IoTPond4-4 ★★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★ aquaponics IoTPond4-4 ★★/**

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★★ 2025-05-14-5 ★★★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★★ 2025-05-14-5 ★★★/**

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★★ aquaponics IoTPond4-6 ★★★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond4/★★★ aquaponics IoTPond4-6 ★★★/**

!results/Aquaponics Record 歷程訓練記錄/Transfer Learning（環境因素+Fish Length）/IoTPond4 → IoTPond1/★ Preferred Best ★
!results/Aquaponics Record 歷程訓練記錄/Transfer Learning（環境因素+Fish Length）/IoTPond4 → IoTPond1/★ Preferred Best ★/**
#--------------------------------------------------------------------------------------------------
# ✅ IoTPond1（例外保留）
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond1/

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond1/★★ 2025-05-14-13 ★★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond1/★★ 2025-05-14-13 ★★/**

!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond1/★★ aquaponics IoTPond1-5 ★★
!results/Aquaponics Record 歷程訓練記錄/環境因素+Fish Length/IoTPond1/★★ aquaponics IoTPond1-5 ★★/**

!results/Aquaponics Record 歷程訓練記錄/without-transfer-learning/★ aquaponics IoTPond1-4 ★/
!results/Aquaponics Record 歷程訓練記錄/without-transfer-learning/★ aquaponics IoTPond1-4 ★/**
#--------------------------------------------------------------------------------------------------

results/Aquaponics Record 歷程訓練記錄/Transfer Learning（環境因素+Fish Length）/IoTPond2 → IoTPond1/★ 2025-06-04-2 ★/★ aquaponics IoTPond1( lr=1e-4 & R2 Score 0.76 ) ★/actual_vs_predicted.png
